:root {
  --app-min-width: 700px; /* not really used any more */
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  @apply bg-coolgray-100 dark:bg-coolgray-700 dark:text-white;
  min-width: var(--app-min-width);
  min-height: 600px;
}

.btn {
  @apply px-2 py-1 rounded inline-block
    bg-coolgray-400 text-white dark:text-black  cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}

/* for sidebar */
@media (max-width: 500px) {
  :root {
    --app-min-width: 1px !important;
  }
  
  .tab-group-card {
    width: 100% !important;
  }
}